/* src/index.css */

/* En v4 solo se usa un import global */
@import "tailwindcss";

/* Puedes agregar estilos globales opcionales */
html, body, #root {
  height: 100%;
}

body {
  background-color: #f9fafb; /* bg-gray-50 */
  color: #0f172a; /* text-slate-900 */
  font-family: 'Inter', sans-serif;
}
